body {
  margin: 40px;
  background-color:#232163;
}
h1,h2,h3,h4,h5,h6,span,ul,li,p{
font-family:'Open Sans', 'sans-serif';
color:#232163;
}

.sidebar {
  grid-area: sidebar;
}


.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
		grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
		justify-content:center;
		align-content:end;
    }


.box {
  background-color: #fff;
  color: #444;
  border-radius: 2px;
  padding: 50px;
  font-size: 150%;
}
.header{
background-color: #fff;
text-align:center;
}

.social{
grid-area:header;
text-align:right;
position:absolute;
top:0;
right:0;
}
.Smedia{
color:#fff;
}
.headerStyle,h1 {
background-color:#fff;
border-radius:5px;
color:#232163;
text-align:center;
}

.footer {
  background-color: #fff;
  text-align:center;
  color:#232163;

}

.box.footer{
text-align: center;
}


.bottomright {
  height:45px;
  width:45px;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.button{
background-color:#232163;
color:#fff;
border-radius:5px;
border:1px solid;
box-shadow:5px 10px;
padding:5px;
font-size:150%;
}

/*unvisted link*/
a:link{
text-decoration:none;
color:#fff;
}
/*mouse over link*/
a:hover{
text-decoration:underline;
color:#4242f4;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.centertext{
  color: white;
  text-align:center;
  padding: 8px 12px;
  position: absolute;
  top: -100px;
  right:400px;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

map{
display:inline;
color:red;
}

    /* Dropdown Button */
    .dropbtn {
      background-color:#232163;
      color:#fff;
      border-radius:5px;
      border:1px solid;
      box-shadow:5px 10px;
      padding:5px;
      font-size:150%;
      cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
      background-color: #232163;
      text-decoration:underline;
      color:#4242f4;
}
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #232163;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: black;
    }
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}




/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.wrapper {
        display: grid;
		grid-gap:2px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "sidebar"
		"content"
        "footer";
        background-color: #fff;
        color: #444;
		justify-content:center;
		align-content:end;
    }
