@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; zoom: 1.0; min-zoom: 1.0; max-zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; min-zoom: 1.0; max-zoom: 1.0; }


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
	

}

div#container {
    height: 100%;
}

button#vr {
    position: absolute;
    top: 20px;
    right: 20px;
}
button#home {
    position: absolute;
    top: 50px;
    right: 20px;
}
        

